# Customer Segmentation

This is a transnational data set which contains all the transactions occurring between 01/12/2010 and 09/12/2011 for a UK-based and registered non-store online retail.The company mainly sells unique all-occasion gifts. Many customers of the company are wholesalers.

The task is to segment customers based on their transaction histories. Specify the algorithm you decided to use for this task and the reason behind your choice.

**Things Expected**
- Reasoning behind choice of number of clusters for the segmentation
- A cluster plot with different colors for each cluster
- Description of each cluster i.e. features common across various clusters
- A csv output containing feature averages for each cluster. Do add the number of users in each cluster

**NB:** Kindly add comments to the cells describing what is done at each step

In [1]:
# importing basic packages
# Import the necessary pythonpackages that can help in building the model or plotting values
import pandas as pd

In [2]:
# reading input data
train_data = pd.read_csv("./data/data.csv", encoding = "ISO-8859-1")

In [3]:
train_data.shape

(541909, 8)

In [4]:
train_data.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000